.App {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  .component-container {
    width: 300px;
    height: 200px;
    margin: 20px;
  }
  
  .red {
    background-color: red;
  }
  .blue {
    background-color: blue;
  }
  .green {
    background-color: green;
  }
  .grey {
    background-color: grey;
  }
  .purple {
    background-color: purple;
  }
  